.botun{
    background-color: #DCB341 !important;
    border-color: #AC820E !important;
}

.boja{
    color: #DCB341;
}

.boja2{
    background-color: #FFF2CB !important;
}

.boja3{
    color: black;
}

.border{
    border-color: #AC820E;
}