.title {
    color: orange;
}

.navigation-menu ul {
    margin-top: 2rem;
}

.navigation-menu li {
    list-style-type: none;
    margin: 0 2rem;
}

.navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: orange;
    font-size: 1.3rem;
}