.background{
    background-color: #DCB341;
}

.boja2{
    background-color: #FFF2CB;
}

.background {
    background-color: #DCB341 !important;
    border-color: #AC820E !important;
}

th{
    background-color: black !important;
}

td{
    background-color: black !important;
}

tr {
    border-bottom-color: black !important;
}
